body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightgreen;
  font-family: 'Poppins', sans-serif;
}

.form-container {
  background-color: #fff;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 7px;
}

form {
  text-align: center;
  padding: 46px 36px;
}

.form-success {
  background-color: #2dbbf5;
  color: #fff;
  padding: 10px;
  font-weight: 300;
}

input {
  background-color: #80808016;
  color: grey;
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
  padding: 13px;
  border-radius: 6px;
  margin: 12px auto;
  border: none;
}

button {
  font-size: 14px;
  padding: 13px 40px;
  border: none;
  margin: 12px auto;
  width: 100%;
  background: #05c905;
  color: white;
}


.form-alert {
  font-size: 12px;
  text-align: start;
  color: red;
  margin-left: 5px;
}



@media (max-width: 400px) {
  .form-container {
    width: 320px;
  }
}
